/** 清除内外边距 **/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

    /* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

    /* list elements 列表元素 */

pre,

    /* text formatting elements 文本格式元素 */

form,
fieldset,
legend,
button,
input,
textarea,

    /* form elements 表单元素 */

th,
td
    /* table elements 表格元素 */

{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

html {
    font-size: 62.5%;
    /*10 ÷ 16 × 100% = 62.5%*/
    /*overflow-y:hidden*/
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    text-shadow: none !important;
}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a{
    font-weight: normal!important;
}

body {
    height: 100%;
    width: 100%;
    min-width: 320px;
}

#page-dep-detail {
    background-color: #fff;
}

#page-expert-list {
    height: 100%;
    background-color: #f2f2f2;
}

.bottom_menu {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 0.2rem 0;
    bottom: 0;
    font-size: 0.8rem;
    background-color: #ffffff;
    border-top: 1px solid #d9d9d9;
    z-index: 100;
}

.bottom_menu ul li a {
    width: 25%;
    height: auto;
    float: left;
    text-align: center;
    text-decoration: none;
    color: #666;
    padding: 4px 0px 2px 0px;
}

.bottom_menu ul li a:visited {
    color: #666;
}

.bottom_menu ul li .current {
    color: #3ccf9d;
}

.bottom_menu ul li .nav_icon {
    background: url(../images/nav_icon_normal.png) no-repeat center 0px;
}

.bottom_menu ul li .nav_icon_current {
    background: url(../images/nav_icon_on.png) no-repeat center 0px;
}

.bottom_menu ul li .hospital_icon {
    background: url(../images/hospital_icon_normal.png) no-repeat center 0px;
}

.bottom_menu ul li .hospital_icon_current {
    background: url(../images/hospital_icon_on.png) no-repeat center 0px;
}

.bottom_menu ul li .departments_icon {
    background: url(../images/dep_icon_normal.png) no-repeat center 0px;
}

.bottom_menu ul li .departments_icon_current {
    background: url(../images/dep_icon_on.png) no-repeat center 0px;
}

.bottom_menu ul li .expert_icon {
    background: url(../images/expert_icon_normal.png) no-repeat center 0px;
}

.bottom_menu ul li .expert_icon_current {
    background: url(../images/expert_icon_on.png) no-repeat center 0px;
}

.bottom_menu ul li .self_icon {
    background: url(../images/self_icon_normal.png) no-repeat center 0px;
}

.bottom_menu ul li .self_icon_current {
    background: url(../images/self_icon_on.png) no-repeat center 0px;
}

.bottom_menu ul li .bottom-ico {
    margin: auto;
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
    background-size: 25px 25px;
}

.webgl_content {
    width: 100%;
    overflow-y: hidden;
}

#pageone {
    height: 100%;
}

#page-index, #page-hospital, #page-departments, #page-expert, #page-self-service {
    height: 100%;
}

.current-address {
    position: fixed;
    top: 1.6rem;
    right: 0;
    width: auto;
    height: 2.5rem;
    background-color: #fff;
    z-index: 97;
    -webkit-box-shadow: 1px 2px 6px 0px #c6c6c6;
    box-shadow: 1px 2px 6px 0px #c6c6c6;
    cursor: pointer;
}

.current-address * {
    vertical-align: middle;
}

.compass {
    display: inline-block;
    height: 100%;
    width: 40px;
    background: url(../images/campass.png) no-repeat center;
    background-size: 80% 80%;
}

.current-address .address {
    height: 100%;
    display: inline-block;
}

.current-address .address .tip {
    position: relative;
    display: block;
    width: 5em;
    height: 40%;
    float: top;
    padding: 0.3rem 0.4rem 0 0;
    font-size: 0.8rem;
    color: #636363;
}

.current-address .address .current-point {
    position: relative;
    display: block;
    width: 4em;
    height: 40%;
    float: top;
    color: #0078FF;
    font-size: 0.8rem;
    text-align: left;
}

.two_d_btn{
    position: fixed;
    left: 0.5rem;
    top: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    z-index: 97;
    color: #4d4d4d!important;
    padding: 0.5rem;
    -webkit-box-shadow: 1px 2px 6px 0px #c6c6c6;
    box-shadow: 1px 2px 6px 0px #c6c6c6;
}

.two_d_btn a{
    display: block;
    padding: 0.25rem 0;
}

.reset{
    position: fixed;
    left: 0.5rem;
    top: 6rem;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    z-index: 97;
    background: #ffffff;
    -webkit-box-shadow: 1px 2px 6px 0px #c6c6c6;
    box-shadow: 1px 2px 6px 0px #c6c6c6;
}

.reset .ico-reset{
    height: 1.5rem;
    background: url(../images/reset.png) no-repeat center;
    background-size: 40% 90%;
    margin-top: 0.3rem;
}

.reset .text-reset{
    font-size: 0.7rem;
    color:#666;
}

.choose-set-point{
    position: absolute;
    left: 0;
    right: 0;
    width: 98%;
    height: 7.2rem;
    margin: auto;
    bottom: 7.3rem;
    font-size: 1rem;
    color: #666;
    background-color: #fff;
    z-index: 100;
}

.choose-set-point li{
    height: 3.6rem;
    line-height: 3.6rem;
}
.choose-set-point li:nth-child(1){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #DADADA;
}
.choose-set-point li:nth-child(1) *{
    vertical-align: middle;
}

.choose-set-point .set{
    display: inline-block;
    width:50%;
    color:#30CA96;
    text-align: center;
}

.choose-set-point .ico-address{
    display: inline-block;
    width:30px;
    height:100%;
    background: url("../images/ico-address.png") no-repeat 0.5rem;
    background-size: 80%;
}

.choose-set-point .text{
    color:#9A9A9A;
    font-size: 1.3rem;
}

.direction_box {
    position: fixed;
    z-index: 97;
    right: 30px;
    top: 120px;
    width: 2rem;
    height: auto;
}

.direction_box ul li {
    margin-bottom: 0.7rem;
}

.direction_box ul li a {
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    background: #ffffff;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    padding: 0.5rem 0.65rem;
    -webkit-box-shadow: 1px 2px 3px 0px #d3d3d3;
    box-shadow: 1px 2px 3px 0px #d3d3d3;
}

.floor_box {
    display: none;
    position: fixed;
    z-index: 97;
    right: 10px;
    top: 120px;
    width: 2.5rem;
    height: auto;
}

.floor_box ul {
    height: 10rem;
    overflow-y: scroll;
}

.floor_box ul::-webkit-scrollbar {
    display: none;
}

.floor_box ul li.top {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.floor_box ul li.middle {
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}

.floor_box ul li.bottom {
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.floor_box ul li.ctop {
    background-image: linear-gradient(rgba(60, 207, 157, 0), rgba(60, 207, 157, 1));
}

.floor_box ul li.cmiddle {
    background-image: linear-gradient(rgba(60, 207, 157, 1), rgba(60, 207, 157, 1));
}

.floor_box ul li.cbottom {
    background-image: linear-gradient(rgba(60, 207, 157, 1), rgba(60, 207, 157, 0));
}

.floor_box ul li {
    margin-bottom: 0.7rem;
    width: 2.5rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
}

.current-active-floor {
    color: #FFFFFF !important;
}

.navigation_btn {
    position: absolute;
    border-radius: 0.2rem;
    width: 98%;
    height: 3.3rem;
    background-color: #00B9D1;
    color: #fff;
    text-align: center;
    line-height: 3.4rem;
    font-size: 1.2rem;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    bottom: 3.7rem;
    z-index: 97;
    /*text-shadow: 1px 1px 1px #a5a0a0;*/
}

.search_direction_box {
    border-radius: 0.2rem;
    width: 98%;
    height: 6rem;
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 3rem;
    z-index: 97;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7.3rem;
    margin: auto;
    background-color: #ffffff;
    cursor: pointer;
}

.search_direction_box .start_positon {
    height: 3rem;
}

.search_direction_box .start_positon .left {
    width: 10%;
    float: left;
}

.search_direction_box .start_positon .left .left_icon {
    border-radius: 0.8rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #0078ff;
    margin: 1rem 1rem 1rem 1rem;
}

.search_direction_box .start_positon .start_input {
    width: 90%;
    height: auto;
    float: left;
}

.search_direction_box .start_positon .start_input input {
    width: 60%;
    height: 2rem;
    line-height: normal;
    float: left;
    color: #000000;
    border: 0px;
    font-size: 1rem;
    border: 0px;
    margin-top: 5px;
    outline: none;
    text-indent: 0.5em;
}

@media (min-width: 320px) and (max-width: 667px) {
    .search_direction_box .start_positon .start_input input {
        width: 55%;
    }
}

@media (min-width: 240px) and (max-width: 319px) {
    .search_direction_box .start_positon .start_input input {
        width: 50%;
        margin-left: 5px;
    }

    .search_direction_box .end_positon .end_input input {
        margin-left: 5px;
    }
}

.search_direction_box .start_positon .start_input input[placeholder] {
    font-size: 1rem;
    text-indent: 0.5em;
}

.search_direction_box .start_positon .start_input .two_code_btn {
    border-radius: 2.2rem;
    width: 6.5rem;
    height: 2.2rem;
    float: right;
    background-color: #3ccf9d;
    margin-right: 0.5rem;
    margin-top: 0.4rem;
}

@media (min-width: 240px) and (max-width: 319px) {
    .search_direction_box .start_positon .start_input .two_code_btn {
        margin-right: 5px;
        width: 5.5rem;
    }
}

.start_input .two_code_btn .btn-position {
    position: relative;
    display: inline-block;
    top: -.4rem;
    height: 1.8rem;
    line-height: 1.9rem;
    font-size: 1rem;
}

.search_direction_box .start_positon .start_input .two_code_btn .ico-color-qrcode {
    display: inline-block;
    content: "";
    margin-top:0.35rem;
    width: 24px;
    height: 24px;
    background: url(../images/ico_color_qrcode.png) no-repeat;
    background-size: 100% 100%;
}

.search_direction_box .end_positon {
    height: 3rem;
}

.search_direction_box .end_positon .left {
    width: 10%;
    float: left;
}

.search_direction_box .end_positon .left .left_icon {
    border-radius: 0.8rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #ff5252;
    margin: 1rem 1rem 1rem 1rem;
}

.search_direction_box .end_positon .end_input {
    width: 90%;
    height: auto;
    float: left;
}

.search_direction_box .end_positon .end_input input {
    width: 60%;
    height: 2rem;
    line-height: normal;
    float: left;
    color: #000000;
    border: 0px;
    font-size: 1rem;
    margin-top: 5px;
    outline: none;
    text-indent: 0.5em;
}

.search_direction_box .end_positon .end_input input[placeholder] {
    font-size: 1rem;
    text-indent: 0.5em;
}

.clear {
    clear: both;
}

.empty_height {
    height: 80px;
    background-color: #fff;
}

.dep_box {
    padding: 10px;
    background-color: #fff;
}

.departments_list {
    height: auto;
}

.departments_list ul li {
    width: 25%;
    height: auto;
    float: left;
    padding-bottom: 14px;
}

.departments_list ul li a img {
    width: 80%;
    height: auto;
    border: 0px;
    margin: auto;
}

.departments_list ul li a p {
    font-size: 1rem;
    padding-top: 0.4rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dep_title {
    padding: 10px;
    font-size: 1.5rem;
    color: #333;
}

.dep_detail {
    padding: 10px 10px 0px 10px;
    font-size: 1.1rem;
    color: #666;
    text-indent: 2em;
}

#page-dep-detail .img-container img{
    width:100%;
}

.dep_detail p{
    padding-bottom: 1em;
}

.hospital_box {
    background-color: #fff;
}

.hospital_box .hospital_img img {
    width: 100%;
    height: auto;
    border: 0px;
}

.hospital_box .container {
    padding: 20px 20px 40px 20px;
    color: #000000;
}

.hospital_box .container .hospital_name {
    font-size: 1.3rem;
    padding-bottom: 15px;
}

.hospital_box .container .hospital_content {
    font-size: 1rem;
    text-indent: 2em;
    color: #666;
    padding-bottom: 1em;
}

.hospital_box .container .detail_box {
    padding-bottom: 20px;
}

.hospital_box .container .detail_box .hospital_item {
    display: flex;
    display: -webkit-flex;
    padding: 25px 0px 10px 0px;
}

.vertical-line {
    display: block;
    width: 0.5rem;
    height: 1.3rem;
    float: left;
    margin-right: 0.35rem;
    background-color: #3ccf9d;
}

.hospital_box .container .detail_box .hospital_item .name {
    width: 5.5rem;
    height: 1.3rem;
    line-height: 1.35rem;
    font-size: 1.2rem;
}

.hospital_box .container .detail_box .hospital_item .line {
    height: 0.75rem;
    border-bottom: 1px solid #3ccf9d;
    -webkit-flex: 2;
    flex: 2;
}

.hospital_box .container .detail_box .content {
    font-size: 1rem;
    text-indent: 2em;
    color: #666;
    padding: 5px 0px;
    padding-bottom: 1em;
}

.hospital_box .container .detail_box .kssz-content{
    padding-bottom: 3em;
}

#page-expert-detail {
    background-color: #fff;
}

#page-expert-detail .dep_box{
    padding:0;
}

#page-expert-detail .head-box {
    padding-top: 10px;
    padding-left:10px;
}

#page-expert-detail .head-box .img-container{
    width: 85px;
    height: 85px;
    border-radius: 85px;
    overflow: hidden;
}

.expert_list ul li {
    height: auto;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.expert_list img {
    padding: 10px;
    padding-right: 0px;
}

.expert_list ul li a .header {
    width: 70px;
    height: 85px;
    border: 0px;
    float: left;
}

.expert_list ul li a .info_box {
    width: 900px;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    color: #4d4d4d;
    float: left;
}

.expert_list ul li a .info_box .name {
    font-size: 1.1rem;
    font-weight: bold;
}

.expert_list ul li a .info_box .professor {
    padding-bottom: 0.1rem;
    font-size: 0.8rem;
    color: #55a795;
}

.expert_list ul li a .info_box .info {
    font-size: 0.8rem;
    color: #666;
    line-height: 1.1rem;
    height: 3.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.horizon-line {
    width: 100%;
    margin-top: 0.6rem;
    border-bottom: 1px solid #eee;
}

.head-box img {
    position: relative;
    height: 85px;
    width: 85px;
}

.head-box .personal-msg, .head-box .head-img, .head-box .department-msg {
    display: table-cell;
    *display: inline-block;
    vertical-align: middle;
}

/* width:240px apple phone */
@media only screen and (min-width: 240px) and (max-width: 320px) {
    .head-box .department-msg {
        width: 36%;
    }
}

/* width:375px apple phone */
@media only screen and (min-width: 321px) and (max-width: 375px) {
    .head-box .department-msg {
        width: 30%;
    }
}

/* width:384px nexus phone */
@media only screen and (min-width: 376px) and (max-width: 384px) {
    .head-box .department-msg {
        width: 30%;
        text-align: center;
    }
}

/* width:412px nexus phone */
@media only screen and (min-width: 388px) and (max-width: 420px) {
    .head-box .department-msg {
        width: 25%;
        text-align: center;
    }
}

/* width:640px apple phone, lg phone */
@media only screen and (max-width: 640px) and (min-width: 421px) {
    .head-box .department-msg {
        width: 24%;
    }
}

@media only screen and (max-width: 840px) and (min-width: 641px) {
    .head-box .department-msg {
        width: 16%;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 841px) {
    .head-box .department-msg {
        width: 12%;
    }
}

@media screen and (min-width: 1025px) {
    .head-box .department-msg {
        width: 8%;
        text-align: center;
    }
}

.personal-msg span {
    font-size: 1.3rem;
    padding: 0.3rem;
    color: #666;
}

.personal-msg .expert-msg {
    font-size: 1rem;
    padding: 0 0.4rem;
    color: #3ccf9d;
}

.go-ahead {
    background-color: #3ccf9d;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

.work-table {
    padding: 10px 20px;
}

.work-table .table-head {
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    color: #000!important;
}

.work-table .title{
    font-size: 1.1rem;
}

.work-table table {
    width: 100%;
    text-align: center;
}

.work-table table td span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1.2rem;
    background-color: #3ccf9d;
    visibility: hidden;
}

.work-table table td {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    height: 2.6rem;
    font-size: 0.7rem;
    color: #000!important;
}

.work-table table td:last-child {
    border-right: 1px solid #eee;
}

.work-table table tr:last-child td {
    border-bottom: 1px solid #eee;
}

.expert-personal-detail {
    padding: 0.5rem 20px 20px 20px;
}

.expert-personal-detail .expert-head {
    margin-bottom: 0.6rem;
    margin-top: 0.4rem;
    color: #000!important;
}

.expert-head .title{
    font-size: 1.1rem;
}

.expert-personal-detail .content {
    font-size: 1rem;
    text-indent: 2em;
    color: #666;
}

/* =========================================================
Media queries
============================================================ */
@media (min-width: 1000px) and (max-width: 1300px) {
    .expert_list ul li a .info_box {
        width: 900px;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .expert_list ul li a .info_box {
        width: 640px;
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .expert_list ul li a .info_box {
        width: 520px;
    }
}

@media (min-width: 500px) and (max-width: 639px) {
    .expert_list ul li a .info_box {
        width: 460px;
    }
    .choose-set-point .ico-address {
        margin-left: 15%;
    }
}

@media (min-width: 360px) and (max-width: 374px) {
    .expert_list ul li a .info_box {
        width: 235px;
    }
    .choose-set-point .ico-address {
        margin-left: 6.5%;
    }
}

@media (min-width: 375px) and (max-width: 411px) {
    .expert_list ul li a .info_box {
        width: 250px;
    }
    .choose-set-point .ico-address {
        margin-left: 8.5%;
    }
}

@media (min-width: 412px) and (max-width: 499px) {
    .expert_list ul li a .info_box {
        width: 290px;
    }
    .choose-set-point .ico-address {
        margin-left: 10%;
    }
}

@media (min-width: 320px) and (max-width: 359px) {
    .expert_list ul li a .info_box {
        width: 250px;
    }
    .choose-set-point .ico-address{
        margin-left: 5%;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
    .hlb_wrapper {
        width: 320px;
    }

    .expert_list ul li a .info_box {
        width: 200px;
    }
}

.choose-set-point .ico-address{
    padding-left:0.2rem;
}

.processcontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 5px;
    z-index: 99;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #08b inset, 0 1px 0 #08b;
    -webkit-box-shadow: 0 1px 5px #08b inset, 0 1px 0 #08b;
    box-shadow: 0 1px 5px #08b inset, 0 1px 0 #08b;
}

#processbar {
    float: left;
    height: 100%;
    text-align: center;
    line-height: 150%;
    background-color: #18FCFB;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#18FCFB), to(#077676));
    background-image: -webkit-linear-gradient(top, #18FCFB, #077676);
    background-image: -moz-linear-gradient(top, #18FCFB, #077676);
    background-image: -ms-linear-gradient(top, #18FCFB, #077676);
    background-image: -o-linear-gradient(top, #18FCFB, #077676);
    background-image: linear-gradient(top, #18FCFB, #077676);
}

.top-process {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 99;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#topprocessbar {
    float: left;
    height: 100%;
    text-align: center;
    line-height: 150%;
    background-color: #18FCFB;
}

#pop-input-start {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: #fff;
    overflow-y: scroll;
}

#pop-input-start.list-bg{
    background-color: #F9F9F9;
}

.input-head {
    position: fixed;
    top: 0;
    height: 4rem;
    background-color: #FAFAFA;
    width: 100%;
}

.input-head:after {
    display: block;
    content: "";
    margin: 0 auto;
    height: 1px;
    width: 100%;
    background: #D1D1D1;
    overflow: hidden;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.input-head .arrow-left {
    float: left;
    width: 34px;
    height: 100%;
    background: url(../images/ico_arrow.png) no-repeat 1px;
    background-size: 110% 50%;
    cursor: pointer;
}

.input-head .visual-input {
    float: left;
    position: relative;
    top: 20%;
    height: 60%;
    width: 85%;
    margin-left: 2%;
    background-color: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
}

.input-head .visual-input * {
    vertical-align: middle;
}

.input-head .visual-input .ico-search {
    display: inline-block;
    width: 36px;
    height: 100%;
    background: url(../images/ico_reach.png) no-repeat 8px;
    background-size: 70% 80%;
}

.input-head .visual-input input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    font-size: 1.1rem;
    line-height: normal;
}

.input-head .visual-input input:focus {
    color: #6284F4;
}

.input-head .visual-input .ico-qrcode {
    display: inline-block;
    width: 42px;
    height: 100%;
    background: url(../images/ico_qrcode.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    right: 5px;
}

.input-head .visual-input .ico-close {
    display: none;
    width: 1rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    background-color: #aaa;
    color: #fff;
}

.search-list {
    margin-top: 4rem;
}

.search-list li {
    height: 4rem;
    line-height: 4rem;
    background-color: #EAEEEB;
    border-bottom: 1px solid #DCDCDC;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.input-history-li {
    height: 2rem !important;
    line-height: 2rem !important;
    text-align: left;
    text-indent: 1em !important;
    color: #7b807f;
    background-color: #f9f9f9 !important;
}

.input-history-clear {
    height: 2rem !important;
    line-height: 2rem !important;
    text-align: center;
    text-indent: 1em !important;
    color: #7b807f;
    background-color: #f9f9f9 !important;
}

.input-history-none {
    text-align: center !important;
}

.search-list * {
    vertical-align: middle;
}

.search-list .ico_addr {
    display: inline-block;
    width: 36px;
    height: 100%;
    background: url(../images/ico_addr.png) no-repeat 8px;
    background-size: 100% 60%
}

.search-list .context {
    font-size: 1.2rem;
    padding: 0 3px;
}

.search-list .delete{
    margin-left:0.2rem;
}

.search-list .floor-num {
    padding: 0px 8px;
    background-color: #29BF8C;
    color: #fff;
    font-size: 1rem;
}

.basePosition {
    padding: 1rem;
    display: none;
}

.basePosition .base-item {
    flex: 1;
    text-align: center;
}

.basePosition .base-item img {
    width: 100%;
}

.pannel .panel-head {
    height: 3.5rem;
    line-height: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 1px solid #DDDDDD;
    display: flex;
    cursor: pointer;
}

.panel-head .title {
    flex: 8;
}

.panel-head .fold-icon {
    flex: 1;
    font-size: 1.2rem;
    text-align: center;
}

.panel-head .fold-icon span {
    line-height: inherit;
    color: #666;
}

.pannel .panel-body {
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.panel-body span {
    display: inline-table;
    height: 2rem;
    line-height: 2rem;
    padding: 0.2rem 0.5rem;
    background-color: #f3f3f3;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.base-position-list {
    position: absolute;
    width: 98%;
    bottom: 3.7rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 97;
}

.base-position-list ul {
    max-height: 9rem;
    overflow-y: scroll;
}

.base-position-list ul::-webkit-scrollbar {
    display: none;
}

.base-position-list li {
    height: 3rem;
    line-height: 3rem;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DCDCDC;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.base-position-list p {
    padding: 0.1rem;
    text-align: center;
    width: 2.2rem;
    position: absolute;
    right: 0;
    font-size: 0.9rem;
    top: -1.4rem;
    border: 1px solid #eee;
    color: #333;
    background-color: #ffffff;
}

.base-position-list * {
    vertical-align: middle;
}

.base-position-list .ico_addr {
    display: inline-block;
    width: 48px;
    height: 100%;
    background: url(../images/ico_addr_op.png) no-repeat 1rem 0.7rem;
    background-size: 40% 48%;
}

.base-position-list .context {
    font-size: 1rem;
    padding: 0 3px;
    color: #666;
}

.base-position-list .floor-num {
    padding: 0 0.4rem;
    background-color: rgba(60, 207, 157, 0.79);
    color: #fff;
    font-size: 0.9rem;
    margin-left: 0.3rem;
}

.history-rollback-wrapper {
    position: absolute;
    display: none;
    bottom: 3.7rem;
    width: 95%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 3.3rem;
    margin: auto;
    left: 0;
    right: 0;
    transition: all 0.3s;
    z-index: 97;
}

.history-rollback-wrapper ul {
    -webkit-flex: 3;
    flex: 3;
    display: inline;
    white-space: nowrap;
    height: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #fff;
    overflow-x: scroll;
}

.history-rollback-wrapper li {
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 3.3rem;
    cursor: pointer;
}

.history-rollback-wrapper li .floor-item {
    margin-left: 35%;
}

.history-rollback-wrapper li .arrow-round {
    display: block;
    position: relative;
    font-size: 1.3rem;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 2rem;
    background: #fff;
    float: right;
    right: -1rem;
    top: 0.7rem;
    color: #666;
}

.item-active {
    background-color: #C3C3C3;
}

.history-rollback-wrapper .exit-wrapper {
    -webkit-flex: 2;
    flex: 2;
    padding: 1.5% 2% 1.5% 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #fff;
}

.history-rollback-wrapper .btn-exit-rollback {
    width: 70%;
    height: 100%;
    display: inline-block;
    background: #474747;
    float: right;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    line-height: 2.4rem;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#left-slide {
    position: absolute;
    top:0;
    right: -60%;
    width: 60%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    cursor: pointer;
}

#left-slide ul li {
    height: 3.5rem;
    line-height: 3.5rem;
    text-indent: 1em;
    border-bottom: 1px solid #eee;
}

#left-slide ul li:first-child {
    height: 2rem;
    line-height: 2rem;
    font-size: 0.9rem;
    color: #666;
}

.self-head-tag {
    position: absolute;
    bottom: 5rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 2.5rem;
    text-align: center;
    background-color: #fff;
    color: #4D4D4D;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
}

.self-tag-current {
    background-color: #53C6B4;
    color: #fff;
}

.self-tag-normal {
    background-color: #fff;
    color: #656565;
}

.self-sex-tag {
    position: absolute;
    width: 8rem;
    left: 5%;
    top: 0.4rem;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
}

.self-sex-tag li {
    width: 50%;
    height: 2rem;
    line-height: 2rem;
    float: left;
    text-align: center;
    font-size: 1rem;
}

.self-sex-tag li:first-child {
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

.self-sex-tag li:last-child {
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.self-adult-tag {
    position: absolute;
    width: 8rem;
    right: 5%;
    top: 0.4rem;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
}

.self-adult-tag li {
    width: 50%;
    height: 2rem;
    line-height: 2rem;
    float: left;
    text-align: center;
    font-size: 1rem;
}

.self-adult-tag li:first-child {
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

.self-adult-tag li:last-child {
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

#page-self-service {
    overflow: hidden;
}

.container .person-model {
    position: absolute;
}

.container .person-model img {
    transform-origin: 0 0;
}

.container .person-model map {
    transform-origin: 0 0;
}

.reversal {
    position: absolute;
    bottom: 8rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 2.5rem;
    text-align: center;
    background-color: #fff;
    color: #4D4D4D;
    z-index: 1;
}

#self-part-slide {
    position: absolute;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    padding-bottom: 2.1rem;
    overflow-y: scroll;
}

#self-part-slide ul {
    padding-bottom: 3.4rem;
}

#self-part-slide ul li {
    height: 3.5rem;
    line-height: 3.5rem;
    text-indent: 1em;
    border-bottom: 1px solid #D9D9D9;
    color: #323232;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.self-part-sub {
    text-indent: 3em !important;
    background-color: #EAEEEB;
}

.self-part-sub-current {
    background-color: #D2D6D3;
}

#self-sickness-slide {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #D2D6D3;
    overflow-y: scroll;
    z-index: 99;
}

#self-sickness-slide ul {
    padding-bottom: 3.4rem;
}

#self-sickness-slide ul li {
    height: 3.5rem;
    line-height: 3.5rem;
    text-indent: 1em;
    border-bottom: 1px solid #B3B3B3;
    color: #323232;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

#self-model-slide {
    position: absolute;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 99;
}

#self-model-slide ul {
    padding-bottom: 3.4rem;
}

#self-model-slide ul li {
    height: 3.5rem;
    line-height: 3.5rem;
    text-indent: 1em;
    border-bottom: 1px solid #D9D9D9;
    color: #323232;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.self-model-current {
    background-color: #EBEBEB;
}

#self-illness-slide {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #EBEBEB;
    overflow-y: scroll;
    z-index: 99;
}

#self-illness-slide ul {
    padding-bottom: 3.4rem;
}

#self-illness-slide ul li {
    height: 3.5rem;
    line-height: 3.5rem;
    text-indent: 1em;
    border-bottom: 1px solid #D9D9D9;
    color: #323232;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.self-go-ahead {
    background-color: #53C6B4;
    padding: 0.4rem 0.8rem;
    border-radius: 2rem;
    color: #fff;
    font-size: 0.9rem;
    -webkit-font-smoothing: antialiased;
}

.self-go {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
}

.self-advice {
    flex: 2;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

#page-self-service-rusult {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}

#page-self-service-rusult ul li {
    height: 3.5rem;
    line-height: 3.5rem;
    text-indent: 1em;
    border-bottom: 1px solid #D9D9D9;
    color: #323232;
    cursor: pointer;
    display: flex;
    color: #898989;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#page-self-service-rusult ul .list-head {
    display: inherit;
    text-align: center;
    font-size: 1.2rem;
    color: #53C6B4;
}

#page-self-service-rusult ul .self-result-content {
    padding: 1rem;
    text-indent: 2em;
    color: #323232;
    padding-bottom: 5rem;
}

.mash {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000;
    opacity: 0.6;
    z-index: 98;
}

.webgl_content > div:last-child {
    position: absolute !important;
    top: 0 !important;
    left: 7rem !important;
}